@charset "UTF-8";

@font-face {
  font-family: blacksans;
  font-display: swap;
  src: url("../fonts/blacksans-bold.woff2") format("woff2"), url("../fonts/blacksans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: blacksans;
  font-display: swap;
  src: url("../fonts/blacksans-light.woff2") format("woff2"), url("../fonts/blacksans-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: blacksans;
  font-display: swap;
  src: url("../fonts/blacksans-medium.woff2") format("woff2"), url("../fonts/blacksans-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: blacksans;
  font-display: swap;
  src: url("../fonts/blacksans-regular.woff2") format("woff2"), url("../fonts/blacksans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: blacksans;
  font-display: swap;
  src: url("../fonts/blacksans-semibold.woff2") format("woff2"), url("../fonts/blacksans-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: blacksans;
  font-display: swap;
  src: url("../fonts/blacksans-thin.woff2") format("woff2"), url("../fonts/blacksans-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

ins {
  text-decoration: none;
}

bdi {
  text-decoration: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #212226;
  line-height: 1;
  font-family: "blacksans";
  font-size: 1.0625rem;
  caret-color: transparent;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "blacksans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #212226 #cecece;
  -ms-overflow-style: none;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.loaded body {
  opacity: 1;
}

body::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #cecece;
}

body::-webkit-scrollbar-thumb {
  background-color: #212226;
  height: 0.9375rem;
  border-radius: 0.625rem;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 90rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  max-width: 85.625rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
}

@supports (padding-top: clamp( 0.625rem , 0.3641304348rem  +  1.3043478261vw , 1.5625rem )) {
  .header {
    padding-top: clamp( 0.625rem , 0.3641304348rem  +  1.3043478261vw , 1.5625rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , 0.3641304348rem  +  1.3043478261vw , 1.5625rem )) {
  .header {
    padding-top: calc(0.625rem + 0.9375 * (100vw - 20rem) / 71.875);
  }
}

@supports (padding-bottom: clamp( 0.625rem , 0.3641304348rem  +  1.3043478261vw , 1.5625rem )) {
  .header {
    padding-bottom: clamp( 0.625rem , 0.3641304348rem  +  1.3043478261vw , 1.5625rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.3641304348rem  +  1.3043478261vw , 1.5625rem )) {
  .header {
    padding-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 71.875);
  }
}

.header::before {
  content: "";
  position: absolute;
  width: 150vw;
  top: 0;
  left: -50%;
  z-index: -1;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid;
  border-color: #ddd;
}

.header._header-scroll {
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
  -webkit-transform: translate(0px, -100px);
      -ms-transform: translate(0px, -100px);
          transform: translate(0px, -100px);
}

.header._header-scroll::before {
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.header._header-show {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 58.125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translate(0px, 3px);
      -ms-transform: translate(0px, 3px);
          transform: translate(0px, 3px);
  white-space: nowrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  gap: 0.625rem;
  height: 2.5625rem;
  padding-right: 0.3125rem;
}

.header__item {
  font-weight: 300;
  color: #000;
  height: 2.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item._active {
  font-weight: 800;
  position: relative;
}

.header__item._active::before {
  content: "";
  position: absolute;
  top: calc(100% - 5px);
  left: -5%;
  border-radius: 0.25rem;
  width: 110%;
  height: 0.25rem;
  background-color: #D01818;
}

.header__item.category {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.1875rem;
}

.header__item.category::after {
  cursor: pointer;
  content: "◢";
  font-size: 0.875rem;
  -webkit-transform: rotate(45deg) translate(0px, -3px);
      -ms-transform: rotate(45deg) translate(0px, -3px);
          transform: rotate(45deg) translate(0px, -3px);
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translate(0px, 3px);
      -ms-transform: translate(0px, 3px);
          transform: translate(0px, 3px);
}

.footer {
  background-color: #212226;
  color: #fff;
  margin: auto;
  padding: 1.5625rem 0.9375rem;
  max-width: 85.625rem;
  width: 100%;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-bottom: clamp( 0.625rem , 0.1902173913rem  +  2.1739130435vw , 2.1875rem )) {
  .footer {
    padding-bottom: clamp( 0.625rem , 0.1902173913rem  +  2.1739130435vw , 2.1875rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.1902173913rem  +  2.1739130435vw , 2.1875rem )) {
  .footer {
    padding-bottom: calc(0.625rem + 1.5625 * (100vw - 20rem) / 71.875);
  }
}

.footer::before {
  content: "";
  position: absolute;
  width: 150vw;
  top: 0;
  left: -50%;
  z-index: -1;
  height: 100%;
  background-color: #212226;
}

@supports (margin-bottom: clamp( 1.25rem , 0.902173913rem  +  1.7391304348vw , 2.5rem )) {
  .footer__logo {
    margin-bottom: clamp( 1.25rem , 0.902173913rem  +  1.7391304348vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.902173913rem  +  1.7391304348vw , 2.5rem )) {
  .footer__logo {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 71.875);
  }
}

.footer__menu {
  font-size: 1.125rem;
  line-height: 1.2222222222;
  font-weight: 700;
  color: #898989;
  display: -ms-grid;
  display: grid;
  gap: 0.3125rem;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
}

@supports (margin-bottom: clamp( 1.875rem , 1.0054347826rem  +  4.347826087vw , 5rem )) {
  .footer__menu {
    margin-bottom: clamp( 1.875rem , 1.0054347826rem  +  4.347826087vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.0054347826rem  +  4.347826087vw , 5rem )) {
  .footer__menu {
    margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 71.875);
  }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4510869565rem  +  0.8695652174vw , 1.25rem )) {
  .footer__category {
    margin-bottom: clamp( 0.625rem , 0.4510869565rem  +  0.8695652174vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4510869565rem  +  0.8695652174vw , 1.25rem )) {
  .footer__category {
    margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 71.875);
  }
}

.footer__sub-menu.socials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[3];
  grid-template-columns: repeat(3, 50px);
}

.footer__sub-menu.socials a {
  background-color: #ddd;
  border-radius: 50%;
  padding: 0.3125rem;
  width: 2.25rem;
  height: 2.25rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__sub-menu.socials a svg {
  fill: #212226;
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}

@supports (margin-bottom: clamp( 0.625rem , 0.4510869565rem  +  0.8695652174vw , 1.25rem )) {
  .footer__sub-item:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.4510869565rem  +  0.8695652174vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4510869565rem  +  0.8695652174vw , 1.25rem )) {
  .footer__sub-item:not(:last-child) {
    margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 71.875);
  }
}

.footer__sub-item a {
  font-weight: 400;
  color: #DDDDDD;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__copyright {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0 0.9375rem;
  border-top: 1px solid #6C7778;
  width: 100%;
  color: #6C7778;
  text-align: center;
}

@supports (padding-top: clamp( 0.625rem , 0.1032608696rem  +  2.6086956522vw , 2.5rem )) {
  .footer__copyright {
    padding-top: clamp( 0.625rem , 0.1032608696rem  +  2.6086956522vw , 2.5rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , 0.1032608696rem  +  2.6086956522vw , 2.5rem )) {
  .footer__copyright {
    padding-top: calc(0.625rem + 1.875 * (100vw - 20rem) / 71.875);
  }
}

.page {
  position: relative;
}

@supports (margin-top: clamp( 3.625rem , 3.0684782609rem  +  2.7826086957vw , 5.625rem )) {
  .page {
    margin-top: clamp( 3.625rem , 3.0684782609rem  +  2.7826086957vw , 5.625rem );
  }
}

@supports not (margin-top: clamp( 3.625rem , 3.0684782609rem  +  2.7826086957vw , 5.625rem )) {
  .page {
    margin-top: calc(3.625rem + 2 * (100vw - 20rem) / 71.875);
  }
}

.page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #212226;
  z-index: -1;
}

@supports (height: clamp( 18.75rem , 12.1413043478rem  +  33.0434782609vw , 42.5rem )) {
  .page::before {
    height: clamp( 18.75rem , 12.1413043478rem  +  33.0434782609vw , 42.5rem );
  }
}

@supports not (height: clamp( 18.75rem , 12.1413043478rem  +  33.0434782609vw , 42.5rem )) {
  .page::before {
    height: calc(18.75rem + 23.75 * (100vw - 20rem) / 71.875);
  }
}

.page__label {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  position: relative;
  max-width: 85.625rem;
  margin: auto;
  padding: 0 0.9375rem;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
}

@supports (margin-top: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 2.5rem )) {
  .page__label {
    margin-top: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 2.5rem );
  }
}

@supports not (margin-top: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 2.5rem )) {
  .page__label {
    margin-top: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 71.875);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 2.5rem )) {
  .page__label {
    margin-bottom: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.5027173913rem  +  2.1739130435vw , 2.5rem )) {
  .page__label {
    margin-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 71.875);
  }
}

.page__label::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: calc(100% - 10px);
  width: 30vw;
  height: 100%;
  background-color: rgb(208, 24, 24);
}

.page__label-channel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
}

.page__label-channel::before {
  content: "";
  width: 0.0625rem;
  height: 100%;
  background-color: #fff;
}

.article {
  max-width: 61.875rem;
  padding: 0 0.9375rem;
  margin: auto;
}

@supports (margin-bottom: clamp( 2.5rem , 1.4565217391rem  +  5.2173913043vw , 6.25rem )) {
  .article {
    margin-bottom: clamp( 2.5rem , 1.4565217391rem  +  5.2173913043vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.4565217391rem  +  5.2173913043vw , 6.25rem )) {
  .article {
    margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 71.875);
  }
}

.article__title {
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.625rem;
}

@supports (font-size: clamp( 1.375rem , 0.975rem  +  2vw , 2.8125rem )) {
  .article__title {
    font-size: clamp( 1.375rem , 0.975rem  +  2vw , 2.8125rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 0.975rem  +  2vw , 2.8125rem )) {
  .article__title {
    font-size: calc(1.375rem + 1.4375 * (100vw - 20rem) / 71.875);
  }
}

.article__info {
  color: #fff;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article__img img {
  border-radius: 0.3125rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 0.625rem;
  min-height: 15.625rem;
}

.article__desc {
  font-size: 0.875rem;
  line-height: 1.2142857143;
  color: #6C7778;
}

@supports (margin-bottom: clamp( 1.25rem , 1.0760869565rem  +  0.8695652174vw , 1.875rem )) {
  .article__desc {
    margin-bottom: clamp( 1.25rem , 1.0760869565rem  +  0.8695652174vw , 1.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0760869565rem  +  0.8695652174vw , 1.875rem )) {
  .article__desc {
    margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 71.875);
  }
}

.article__subtitle {
  font-weight: 500;
  line-height: 1.3076923077;
}

@supports (padding-top: clamp( 0.0000000625rem , -0.695652094rem  +  3.4782607826vw , 2.5rem )) {
  .article__subtitle {
    padding-top: clamp( 0.0000000625rem , -0.695652094rem  +  3.4782607826vw , 2.5rem );
  }
}

@supports not (padding-top: clamp( 0.0000000625rem , -0.695652094rem  +  3.4782607826vw , 2.5rem )) {
  .article__subtitle {
    padding-top: calc(0.0000000625rem + 2.4999999375 * (100vw - 20rem) / 71.875);
  }
}

@supports (font-size: clamp( 1.375rem , 1.3054347826rem  +  0.347826087vw , 1.625rem )) {
  .article__subtitle {
    font-size: clamp( 1.375rem , 1.3054347826rem  +  0.347826087vw , 1.625rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.3054347826rem  +  0.347826087vw , 1.625rem )) {
  .article__subtitle {
    font-size: calc(1.375rem + 0.25 * (100vw - 20rem) / 71.875);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.4847826087rem  +  3.8260869565vw , 4rem )) {
  .article__subtitle {
    margin-bottom: clamp( 1.25rem , 0.4847826087rem  +  3.8260869565vw , 4rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.4847826087rem  +  3.8260869565vw , 4rem )) {
  .article__subtitle {
    margin-bottom: calc(1.25rem + 2.75 * (100vw - 20rem) / 71.875);
  }
}

.article__text {
  line-height: 1.625;
  margin-bottom: 1.875rem;
}

.article__text p {
  margin-bottom: 1rem;
}

.article__text a {
  color: rgb(208, 24, 24);
}

.article__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.article__tags a {
  text-transform: uppercase;
  border-radius: 0.1875rem;
  font-size: 0.625rem;
  line-height: 1.2;
  padding: 0.1875rem 0.375rem;
  font-weight: 700;
  border: 1px solid;
}

.comments {
  background-color: #323637;
  width: 100%;
  max-width: 62.5rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.625rem;
  padding: 1.25rem;
  padding-top: 0;
  color: #fff;
  position: relative;
}

@supports (margin-bottom: clamp( 1.875rem , 0.6576086957rem  +  6.0869565217vw , 6.25rem )) {
  .comments {
    margin-bottom: clamp( 1.875rem , 0.6576086957rem  +  6.0869565217vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.6576086957rem  +  6.0869565217vw , 6.25rem )) {
  .comments {
    margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 71.875);
  }
}

.comments__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #fff;
  gap: 0.625rem;
}

@supports (padding-bottom: clamp( 0.625rem , 0.4510869565rem  +  0.8695652174vw , 1.25rem )) {
  .comments__header {
    padding-bottom: clamp( 0.625rem , 0.4510869565rem  +  0.8695652174vw , 1.25rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.4510869565rem  +  0.8695652174vw , 1.25rem )) {
  .comments__header {
    padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 71.875);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.8505434783rem  +  0.4347826087vw , 1.25rem )) {
  .comments__header {
    margin-bottom: clamp( 0.9375rem , 0.8505434783rem  +  0.4347826087vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.8505434783rem  +  0.4347826087vw , 1.25rem )) {
  .comments__header {
    margin-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 71.875);
  }
}

.comments__title {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  text-align: center;
  padding: 0.3125rem 0;
  font-weight: 600;
  margin-bottom: 0.625rem;
  background-color: #444547;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}

.comments__counter {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1rem;
  font-weight: 600;
}

.comments__sorting-label {
  font-size: 0.875rem;
}

.comments__select {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 0.1875rem;
}

.comments__select svg {
  width: 0.9375rem;
  line-height-step: 0.9375rem;
}

.comments__textarea {
  width: 100%;
  color: #000;
  caret-color: #000;
  padding: 0.625rem;
  margin-bottom: 0.3125rem;
  resize: none;
}

.comments__textarea::-webkit-input-placeholder {
  color: grey;
}

.comments__textarea::-moz-placeholder {
  color: grey;
}

.comments__textarea:-ms-input-placeholder {
  color: grey;
}

.comments__textarea::-ms-input-placeholder {
  color: grey;
}

.comments__textarea::placeholder {
  color: grey;
}

.comments__textarea:focus ~ .fbcomments__submit {
  display: block;
}

.comments__textarea._form-error::-webkit-input-placeholder {
  color: rgb(208, 24, 24);
}

.comments__textarea._form-error::-moz-placeholder {
  color: rgb(208, 24, 24);
}

.comments__textarea._form-error:-ms-input-placeholder {
  color: rgb(208, 24, 24);
}

.comments__textarea._form-error::-ms-input-placeholder {
  color: rgb(208, 24, 24);
}

.comments__textarea._form-error::placeholder {
  color: rgb(208, 24, 24);
}

.comments__submit {
  float: right;
  background-color: #1463e2;
  padding: 0.3125rem 0.625rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.comments__comments {
  margin-top: 2.8125rem;
}

.comments__comments_sub {
  padding-left: 3.125rem;
  margin-top: 1.25rem;
}

.comments__comments_sub li {
  padding-bottom: 0.3125rem;
}

.comments__comments > :nth-child(n+4) {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.comments__comments._showmore ~ .comments__showmore {
  display: none;
}

.comments__comments._showmore > :nth-child(n+4) {
  -webkit-transition: opacity 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  transition: opacity 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  transition: opacity 0.5s ease 0s, transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  opacity: 1;
  position: relative;
  pointer-events: auto;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.comments__comment:not(:last-child) {
  margin-bottom: 1.25rem;
}

.comments__comment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.comments__avatar {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
}

.comments__name {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
}

.comments__text {
  margin-bottom: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.2;
}

.comments__actions {
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments__actions :not(:last-child) {
  position: relative;
}

.comments__actions :not(:last-child):after {
  content: "•";
  padding-left: 0.3125rem;
  -webkit-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

.comments__like-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.1875rem;
}

.comments__like-counter svg {
  width: 0.75rem;
  height: 0.75rem;
}

.comments__showmore {
  margin-top: 1.25rem;
  background-color: #1463e2;
  width: 100%;
  max-width: 18.75rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 0.875rem;
  padding: 0.625rem;
  font-weight: 600;
}

.form {
  max-width: 25rem;
  margin: auto;
  caret-color: #212226;
  font-size: 0.875rem;
  border: 1px solid #acacac;
  padding: 0.9375rem;
}

@supports (margin-bottom: clamp( 1.875rem , 0.6576086957rem  +  6.0869565217vw , 6.25rem )) {
  .form {
    margin-bottom: clamp( 1.875rem , 0.6576086957rem  +  6.0869565217vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.6576086957rem  +  6.0869565217vw , 6.25rem )) {
  .form {
    margin-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 71.875);
  }
}

.form__title {
  font-weight: 700;
  font-size: 1.375rem;
  margin-bottom: 0.625rem;
  text-align: center;
}

.form__text {
  line-height: 1.5;
  margin-bottom: 0.9375rem;
  text-align: center;
}

.form__form {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
}

.form__input {
  height: 2.5rem;
  padding-left: 1.875rem;
  border-radius: 0;
  color: #6C7778;
  background-color: transparent;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  border: 1px solid #acacac;
}

.form__input::-webkit-input-placeholder {
  color: #6C7778;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form__input::-moz-placeholder {
  color: #6C7778;
  -moz-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form__input:-ms-input-placeholder {
  color: #6C7778;
  -ms-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form__input::-ms-input-placeholder {
  color: #6C7778;
  -ms-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form__input::placeholder {
  color: #6C7778;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form__input._form-error {
  color: red;
}

.form__input._form-error::-webkit-input-placeholder {
  color: red;
}

.form__input._form-error::-moz-placeholder {
  color: red;
}

.form__input._form-error:-ms-input-placeholder {
  color: red;
}

.form__input._form-error::-ms-input-placeholder {
  color: red;
}

.form__input._form-error::placeholder {
  color: red;
}

.form__input._form-focus {
  border: 1px solid #212226;
}

.form__phone-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.form__phone-wrapper span {
  border: 1px solid #acacac;
  border-right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.625rem;
  font-size: 0.75rem;
}

.form__phone-wrapper input {
  width: 100%;
  padding-left: 0.625rem;
}

.form__btn {
  background-color: #212226;
  color: #fff;
  height: 2.5rem;
  font-weight: 700;
  width: 9.375rem;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 1px solid;
}

.loaded .form__btn {
  -webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
}

.form._sending .form__spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form._sending .form__btn {
  display: none;
}

.form__spinner {
  height: 2.5rem;
  width: 9.375rem;
  background-color: #212226;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.form__spinner img {
  height: 100%;
}

@media (min-width: 29.99875em) {
  .article__date {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.625rem;
  }

  .article__date::before {
    content: "";
    width: 0.0625rem;
    height: 100%;
    background-color: #fff;
  }
}

@media (max-width: 61.99875em) {
  .header__burger {
    display: block;
    position: relative;
    width: 1.625rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.625rem;
            flex: 0 0 1.625rem;
    height: 1.875rem;
    cursor: pointer;
    z-index: 25;
  }

  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.14375rem;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    background-color: #212226;
  }

  .header__burger::before {
    top: 6px;
  }

  .header__burger::after {
    bottom: 6px;
    width: 70%;
    right: 0.5625rem;
  }

  .header__burger span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .header__burger span {
    width: 0;
  }

  .menu-open .header__burger::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .header__burger::after {
    bottom: calc(50% - 0.09375rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 100%;
    right: 0;
  }

  .footer__menu {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.125rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .footer__sub-menu.socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translate(10px, 0px);
        -ms-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }

  .comments {
    border-radius: 0;
  }
}

@media (max-width: 47.99875em) {
  .article__img {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  .article__img img {
    border-radius: 0;
  }
}

@media (max-width: 37.5em) {
  .header__menu {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .footer__menu {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 1.875rem;
  }

  .article__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .comments {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
  }

  .comments__title {
    margin-left: -0.3125rem;
    margin-right: -0.3125rem;
  }

  .form {
    border-bottom: 0;
  }
}

@media (any-hover: hover) {
  .header__logo:hover .logo-path-text {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    fill: #D01818;
  }

  .header__item:hover {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
    color: #D01818;
  }

  .header__search-btn:hover svg {
    -webkit-transition: fill 0.3s ease 0s;
    -o-transition: fill 0.3s ease 0s;
    transition: fill 0.3s ease 0s;
    fill: #D01818;
  }

  .footer__logo svg .logo-path {
    -webkit-transition: fill 0.3s ease 0s;
    -o-transition: fill 0.3s ease 0s;
    transition: fill 0.3s ease 0s;
  }

  .footer__logo:hover svg .logo-path {
    fill: rgb(208, 24, 24);
  }

  .footer__sub-menu.socials a:hover {
    background-color: #fff;
    -webkit-filter: drop-shadow(0 0 3px #fff);
            filter: drop-shadow(0 0 3px #fff);
  }

  .footer__sub-menu.socials a:hover svg {
    fill: rgb(208, 24, 24);
  }

  .footer__sub-menu.apps li {
    -webkit-transition: -webkit-filter 0.3s ease 0s;
    transition: -webkit-filter 0.3s ease 0s;
    -o-transition: filter 0.3s ease 0s;
    transition: filter 0.3s ease 0s;
    transition: filter 0.3s ease 0s, -webkit-filter 0.3s ease 0s;
  }

  .footer__sub-menu.apps li:hover {
    -webkit-filter: brightness(1.5) drop-shadow(0 0 2px #fff);
            filter: brightness(1.5) drop-shadow(0 0 2px #fff);
  }

  .footer__sub-item a:hover {
    color: rgb(208, 24, 24);
  }

  .page__label-country:hover {
    text-decoration: underline;
  }

  .article__author:hover {
    text-decoration: underline;
  }

  .article__text a:hover {
    text-decoration: underline;
  }

  .article__tags a {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .article__tags a:hover {
    color: rgb(208, 24, 24);
  }

  .loaded .comments__submit {
    -webkit-transition: background-color 0.5s ease 0s;
    -o-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s;
  }

  .comments__submit:hover {
    background-color: blue;
  }

  .loaded .comments__actions button {
    -webkit-transition: color 0.2s ease 0s;
    -o-transition: color 0.2s ease 0s;
    transition: color 0.2s ease 0s;
  }

  .comments__actions button:hover {
    color: #3578e3;
  }

  .comments__actions button:hover::after {
    color: #fff;
  }

  .loaded .comments__showmore {
    -webkit-transition: background-color 0.5s ease 0s;
    -o-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s;
  }

  .comments__showmore:hover {
    background-color: blue;
  }

  .form__input._form-focus:hover {
    color: #6C7778;
  }

  .form__input._form-focus:hover::-webkit-input-placeholder {
    color: #6C7778;
  }

  .form__input._form-focus:hover::-moz-placeholder {
    color: #6C7778;
  }

  .form__input._form-focus:hover:-ms-input-placeholder {
    color: #6C7778;
  }

  .form__input._form-focus:hover::-ms-input-placeholder {
    color: #6C7778;
  }

  .form__input._form-focus:hover::placeholder {
    color: #6C7778;
  }

  .form__input:hover {
    color: #212226;
  }

  .form__input:hover::-webkit-input-placeholder {
    color: #212226;
  }

  .form__input:hover::-moz-placeholder {
    color: #212226;
  }

  .form__input:hover:-ms-input-placeholder {
    color: #212226;
  }

  .form__input:hover::-ms-input-placeholder {
    color: #212226;
  }

  .form__input:hover::placeholder {
    color: #212226;
  }

  .form__btn:hover {
    color: #212226;
    background-color: #fff;
  }
}